.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  min-height: 100vh;
  position: relative;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 64px 116px 0 116px;
}