.cat-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 32px;
}

.cat-detail img {
  width: 800px;
  height: 500px;
  margin: 32px 0 24px 0;
}

.cat-detail p {
  text-align: justify;
}

#back-button {
  width: 100%;
  padding: 12px 32px;
  margin-top: 32px;

  border-radius: 7px;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: orange;
  color: white;
}

#back-button:hover {
  opacity: 0.8;
}